{% extends "portfolio/base.html" %} {% load static %} {% block content %}

<style>
    .text {
        font-size: 1.5em;
        text-align: center;
    }
    .image {
        width: 2.5em;
    }
</style>

<div class="row justify-content-center mb-3" style="margin-top: 2em">
    <div class="col-md-9 text-center">
        <h1>Hello! I'm</h1>
        <h3 id="hometext" class="font-weight-bold">Sergio Bértolo Castro</h3>
    </div>
</div>

<h2 class="mt-5 text-center">About me</h2>
<hr />
<p class="text">
    I'm an aspiring full stack developer, currently studying at
    <span style="font-style: italic"
        ><a href="https://www.iessanclemente.net/">IES San Clemente</a></span
    >.
</p>
<br />

<div class="text-center">
    <ul class="list-inline list-inline-horizontal">
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/"
                ><img
                    src="{% static 'portfolio/LinkedIn_icon.svg.png' %}"
                    alt="LinkedIn logo"
                    class="image"
            /></a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/champiw"
                ><img
                    src="{% static 'portfolio/Octicons-mark-github.svg.png' %}"
                    alt="GitHub logo"
                    class="image"
            /></a>
        </li>
        <li class="list-inline-item">
            <a href="{% static 'portfolio/sample_resume.pdf' %}" target="_blank"
                ><img
                    src="{% static 'portfolio/resume.png' %}"
                    alt="Resume logo"
                    class="image"
            /></a>
        </li>
    </ul>
</div>

{% endblock %}
